<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Veamos {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css')}}">

    {% block tailwindcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tailwind.css')}}">
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>


<body data-act-class="ACTIVECLASS">
    {% block nav %}
        
    {% endblock %}

    <main class="is-size-3">{% block main %}{% endblock %}</main>
    <footer></footer>
    <script src="https://kit.fontawesome.com/1de6e85594.js" crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('static', filename='js/base.js')}}"></script>
    <!-- <script type="module" src="{{ url_for('static', filename='js/mathInput.js')}}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/base.js')}}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    {% block customScript %}

    {% endblock %}
</body>

</html>