{% extends './base.html' %}

{% block title %}{{super()}}{% endblock %}







    {% block nav %}{{super()}}{% endblock %}


    {% block main %}
        
        <div class="container is-fullhd border-red" style="height: 90dvh;">


            <h1>{{_("Solucionador de problemas de programacion lineal")}}</h1>

            <div class="fixed-grid has-1-cols border-red input--zone" >
                <div class="grid ">
                    avla
                </div>
                <div>
                    <math-field style="display: block;">\tan(x) = \frac{\sin \theta}{\cos \theta}</math-field>
                </div>
            </div>


            
        </div>
        
    
    {% endblock %}

    {% block script %}{{super()}}{% endblock %}



