{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block nav %}{% endblock %}

{% block main %}

<div
  class="login-container h-screen 
  animated-gradient bg-gradient-to-r from-purple-400 via-pink-500 to-red-500">

  <div class="grid grid-cols-1 md:grid-cols-2">

    <div data-theme="dark" class="login-container h-dvh bg-neutral flex flex-col items-center justify-center">


      <div class="flex items-center justify-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div role="alert" class="alert alert-{{ category }} alert-soft my-2">
            <span> {{ message }}</span>
          </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
      </div>

      
      <!-- FORMULARIO INICIA AQUÍ -->
      <form action="{{ url_for('main.login') }}" method="post"
        class="fields-container flex flex-col gap-2.5 place-self-center items-center justify-center">
        

        

        <h1 class="text-center text-2xl mb-8">{{ _("Bienvenido de nuevo") }}</h1>

        <!-- campo para el username -->
        <label class="input">
          <i class="fas fa-user opacity-50 h-[1em] w-[1em]"></i>
          <input id="username" name="username" type="text" placeholder="Usuario" />
        </label>

        <!-- campo para la contra -->
        <label class="input">
          <i class="fas fa-lock opacity-50 h-[1em] w-[1em]"></i>
          <input id="password" name="password" type="password" placeholder="Contraseña" />
        </label>
        

        <!-- boton para acceder -->
        <div>
          <button type="submit" class="btn btn-outline btn-secondary rounded-full">
            {{ _("Iniciar sesion") }}
          </button>
        </div>
      </form>
      <!-- FORMULARIO TERMINA AQUÍ -->

    </div>

  </div>

</div>

{% endblock %}
