{% extends './base.html' %}

{% block title %}Register{% endblock %}

{% block nav %}{% endblock %}

{% block main %}

<div class="login-container h-screen animated-gradient bg-gradient-to-r from-purple-400 via-pink-500 to-red-500">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div data-theme="dark" class="login-container h-dvh bg-neutral overflow-y-hidden">

      <!-- FORMULARIO DE REGISTRO -->
      <form action="{{ url_for('main.register') }}" method="post"
        class="fields-container flex flex-col gap-2.5 place-self-center items-center h-[90%] justify-center">

        <h1 class="text-center text-2xl mb-8">{{ _("Crear una cuenta") }}</h1>

        <!-- Nombre de usuario -->
        <label class="input validator rounded-full input-primary">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-width="2" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4
              -4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4
              v2h16v-2c0-2.66-5.33-4-8-4z" />
          </svg>
          <input type="text" name="username" placeholder="{{ _('Nombre de usuario') }}" required />
        </label>

        <!-- Correo electrónico -->
        <label class="input validator rounded-full input-primary">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <rect width="20" height="16" x="2" y="4" rx="2"></rect>
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
            </g>
          </svg>
          <input type="email" name="email" placeholder="mail@site.com" required />
        </label>

        <!-- Contraseña -->
        <label class="input validator rounded-full input-primary">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1
                a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 
                1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
              </path>
              <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
            </g>
          </svg>
          <input
            type="password"
            name="password"
            required
            placeholder="{{ _('Contrasena') }}"
            minlength="8"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must be more than 8 characters, including number, lowercase letter, uppercase letter"
          />
        </label>
        <p class="validator-hint hidden">
          Must be more than 8 characters, including
          <br />At least one number <br />At least one lowercase letter <br />At least one uppercase letter
        </p>

        <!-- Botón de registro -->
        <div>
          <button type="submit" class="btn btn-outline btn-secondary rounded-full">
            {{ _("Registrarse") }}
          </button>
        </div>

        <!-- Enlace para ir al login -->
        <div class="mt-4">
          <a href="{{ url_for('main.login') }}" class="link link-hover text-sm text-gray-400 hover:text-white">
            {{ _("¿Ya tienes cuenta? Inicia sesión") }}
          </a>
        </div>

      </form>

    </div>
  </div>
</div>

{% endblock %}
