{% extends './base.html' %} {% block title %}Register{% endblock %} {% block nav
%}{% endblock %} {% block main %}

<div class="login-container h-screen animated-gradient bg-gradient-to-r from-purple-400 via-pink-500 to-red-500">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div data-theme="dark" class="login-container h-dvh bg-neutral overflow-y-hidden flex flex-col items-center justify-center">


      <div class="flex justify-center items-center place-self-center">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}

          <div role="alert" class="alert alert-{{ category }} alert-soft my-2" style="flex-grow: 0;">
            <span> {{ message }}</span>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
      </div>



      <!-- FORMULARIO DE REGISTRO -->
      <form action="{{ url_for('main.register') }}" method="post"
        class="fields-container flex flex-col gap-2.5 place-self-center items-center justify-center">

        <h1 class="text-center text-2xl mb-8">{{ _("Crear una cuenta") }}</h1>


        <label class="input input-accent">
          <i class="fas fa-envelope opacity-50 h-[1em] w-[1em]"></i>
          <input id="email" name="name" type="text" placeholder="Nombre" />
        </label>



        <label class="input">
          <i class="fas fa-user opacity-50 h-[1em] w-[1em]"></i>
          <input id="username" name="username" type="text" placeholder="Usuario" />
        </label>





        <label class="input">
          <i class="fas fa-lock opacity-50 h-[1em] w-[1em]"></i>
          <input id="password" name="password" type="password" placeholder="Contraseña" />
        </label>



        <!-- Botón de registro -->
        <div>
          <button type="submit" class="btn btn-outline btn-secondary rounded-full">
            {{ _("Registrarse") }}
          </button>
        </div>

        <!-- Enlace para ir al login -->
        <div class="mt-4">
          <a href="{{ url_for('main.login') }}" class="link link-hover text-sm text-gray-400 hover:text-white">
            {{ _("¿Ya tienes cuenta? Inicia sesión") }}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}